@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --foreground: #171717;
  
  /* Color Tokens */
  --color-dark: rgba(73, 73, 73, 1);
  --color-dark-70: rgba(73, 73, 73, 0.7);
  --color-dark-50: rgba(73, 73, 73, 0.5);
  --color-dark-20: rgba(73, 73, 73, 0.2);
  --color-dark-8: rgba(73, 73, 73, 0.08);;
  --color-white: #FFFFFF;
  --color-accent: rgba(38, 161, 255, 1);
  --color-accent-70: rgba(38, 161, 255, 0.7);
  --color-accent-50: rgba(38, 161, 255, 0.5);
  --color-accent-25: rgba(38, 161, 255, 0.25);
  --color-accent-12: rgba(38, 161, 255, 0.12);
  --color-red: rgba(252, 93, 98, 1);
  --color-red-52: rgba(252, 93, 98, 0.52);
  --color-red-24: rgba(252, 93, 98, 0.24);
  --color-orange: rgba(253, 139, 52, 1);
  --color-orange-52: rgba(253, 139, 52, 0.52);
  --color-orange-24: rgba(253, 139, 52, 0.24);
  --color-orange-16: rgba(253, 139, 52, 0.16);
  --color-green: rgba(41, 231, 127, 1);
  --color-border: rgba(241, 241, 241, 1);
  --color-hover: rgba(243, 243, 243, 1);
  --color-button-secondary: rgba(223, 223, 223, 1);

  --text-color-dark: rgba(73, 73, 73, 1)
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Color Tokens for Tailwind */
  --color-dark: var(--color-dark);
  --color-dark-70: var(--color-dark-70);
  --color-dark-50: var(--color-dark-50);
  --color-dark-20: var(--color-dark-20);
  --color-dark-8: var(--color-dark-8);
  --color-white: var(--color-white);
  --color-accent: var(--color-accent);
  --color-accent-70: var(--color-accent-70);
  --color-accent-50: var(--color-accent-50);
  --color-accent-25: var(--color-accent-25);
  --color-accent-12: var(--color-accent-12);
  --color-red: var(--color-red);
  --color-red-52: var(--color-red-52);
  --color-red-24: var(--color-red-24);
  --color-orange: var(--color-orange);
  --color-orange-52: var(--color-orange-52);
  --color-orange-24: var(--color-orange-24);
  --color-orange-16: var(--color-orange-16);
  --color-green: var(--color-green);
  --color-border: var(--color-border);
  --color-hover: var(--color-hover);
  --color-button-secondary: var(--color-button-secondary);

  --text-color-dark: var(--text-color-dark)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FAFAFA;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* Font Size Utilities - Inter 14px */
.text-14-regular {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.text-14-medium {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
